<template name="messageListTemplate"> 
  <div class="row">
    <div class="col-sm-4">
      {{> loginButtons}}
      
      <ul>
      {{#each channel in channels}}
        <li class="channel-name">{{channel.name}}</li>
      {{/each}}
      </ul>
    </div>
    <div class="col-sm-8">
      <ul class="list-group">
      {{#each message in messages}}
        <li class="list-group-item">{{message.user}} said: {{message.message}} (@{{message.time}})</li>
      {{/each}}
      </ul>
    </div>
  </div>
</template>